.site-logo{
	color: ;
	font-family: "Harrington";
	font-size: 1.2em;
}

body{
	font-family: "Arial";
	color: grey;
}

a:hover{
	text-decoration: none;
	color: white;
}

h1{
	font-size: 1.6em;
}

h2,h3{
	font-size: 1.4em;
}

#news-body{
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: justify;
	line-height: 25px;
}

#news-body p{
	margin-bottom: 20px;
}

#news-body img{
	float: left;
	margin-right: 30px;
	margin-bottom: 20px;
	border: 3px solid grey;
}

.comment{
	margin-bottom: 50px;
}

#comments-container{
	margin-top: 30px;
	margin-bottom: 20px;
}


.comment p{
	padding: 10px;
}

#comment-form{
	margin-top: 30px;
	margin-bottom: 60px;
}

#login-form-container{
	margin-top: 20%;
}

.normal-button{
	background: #3ebb5e;
}

.alternate-button{
	background: #6495ED;
}

.alternate-button:hover{
	background: #4682B4;
}
.normal-button:hover{
	background: #2E8B57;
}

.danger-button{
	background: #DC143C;
}

.danger-button:hover{
	background: #B22222;
}

input[type="submit"],a{
	border-radius: 5px;
	border: #3ebb5e;
	padding: 5px 20px;
	color: #fff;
	cursor: pointer;
}

#article-form-container{
	margin-top: 30px;
}

table{
	margin-top: 30px;
}

.tag{
	padding: 5px 10px;
	background: #3ebb5e;
	color: white;
	border-radius: 5px;
}

.news-link{
	color: teal;
}
.news-link:hover{
	border: 1px solid teal;
	padding: 5px;
	color: teal;
}